{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block metatags %}
<title>{{_('Sumpan Lunch')}}</title>
<meta name="description" content="Teamplan">
{% endblock %}


{% block contents %}

{% if so == "desc" %}
  {% set so %}asc{% endset %}
{% else %}
  {% set so %}desc{% endset %}
{% endif %}

    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </nav>

    {% if lunchresturants %}

        <h1>{{ _('List Lunch Resturants') }}</h1>

        <table class="table table-hover">
          <tr>
            <td><A HREF="{{url_for('main.index', so=order)}}">   {{ _('Name') }}   </a></td>
            <td><A HREF="{{url_for('main.index', so=order)}}">   {{ _('Rating') }}   </a></td>
            <td>{{_('About')}}</td>
          </tr>

        {% for rest in lunchresturants %}

              <tr>
                <td>  {{rest.name}}        </td>
                <td>  {{ rest.average_rating }}        </td>
                <td>
                  <a href="{{ url_for('main.lunchresturant_view', id=rest.id) }}"> {{_('View resurant')}}</a>
                  <a href="{{ url_for('main.rating_add', restid=rest.id) }}" class="navbar-brand">
                    <img src="{{ url_for('static', filename='rate.png') }}" alt="add rating" />
                  </a>

               </td>

              </tr>
          {% endfor %}

          </table>
    {% endif %}

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </nav>
    <hr>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

{% endblock %}
