{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block metatags %}
<title>{% if title %}{{ title }} - {% else %}{{ _('Welcome to mylunch') }}{% endif %}</title>
<meta name="description" content="{% if title %}{{ title }} - {% else %}{{ _('Welcome to mylunch') }}{% endif %}">
{% endblock %}


{% block contents %}

{% if so == "desc" %}
  {% set so %}asc{% endset %}
{% else %}
  {% set so %}desc{% endset %}
{% endif %}


  <div class="container">
    <div class="row">
        <div class="col-sm-6">

  {% if top_rest %}
      <div class="list-group">
        <a class="list-group-item" href="{{ url_for('main.lunchresturant_add') }}">
          <h4 class="list-group-item-heading">{{_('Top Resturants')}}</h4>
        </a>
        {% for r in top_rest %}
          <a href="{{ url_for('main.lunchresturant_view', id=r.id) }}" class="list-group-item">
            {{r.name}} ({{ r.average_rating }})
          </a>
        {% endfor %}
      </div>
  {% endif %}

    </div>
    <div class="col-sm-6">

      {% if low_rest %}
          <div class="list-group">
            <a class="list-group-item" href="{{ url_for('main.lunchresturant_add') }}">
              <h4 class="list-group-item-heading">{{_('Low/Unrated Resturants')}}</h4>
            </a>
            {% for r in low_rest %}
              <a href="{{ url_for('main.lunchresturant_view', id=r.id) }}" class="list-group-item">
                {{r.name}} ({{ r.average_rating }})
              </a>
            {% endfor %}
          </div>
      {% endif %}

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">

    {% if top_rate %}
      <div class="list-group">
      <a class="list-group-item" href="{{ url_for('main.rating_add') }}">
        <h4 class="list-group-item-heading">{{_('Top Ratings')}}</h4>
      </a>
      {% for a in top_rate %}
        <a href="{{ url_for('main.rating_view', id=a.id) }}" class="list-group-item">
          {{a.resturant.name}} ({{ a.rating }}) by {{a.user.username}}
        </a>
      {% endfor %}
    </div>
    {% endif %}

  </div>
  <div class="col-sm-6">

  {% if low_rate %}
    <div class="list-group">
    <a class="list-group-item" href="{{ url_for('main.rating_add') }}">
      <h4 class="list-group-item-heading">{{_('Low Ratings')}}</h4>
    </a>
    {% for a in low_rate %}
      <a href="{{ url_for('main.rating_view', id=a.id) }}" class="list-group-item">
        {{a.resturant.name}} ({{ a.rating }}) by {{a.user.username}}
      </a>
    {% endfor %}
    </div>
  {% endif %}

  </div>

  </div>
</div>
</div>




{% endblock %}
