{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block metatags %}
<title>{% if title %}{{ title }} - {% else %}{{ _('Welcome to mylunch') }}{% endif %}</title>
<meta name="description" content="{% if title %}{{ title }} - {% else %}{{ _('Welcome to mylunch') }}{% endif %}">
{% endblock %}


{% block contents %}


{% if so == "desc" %}
  {% set so %}asc{% endset %}
{% else %}
  {% set so %}desc{% endset %}
{% endif %}

{% if form %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endif %}

{% if alllunchresturant %}

    <h1>{{ _('List Lunch Resturants') }}</h1>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}">Next</a>
          </li>
        </ul>
    </nav>

    <table class="table table-hover">
      <tr>
        <td><A HREF="{{url_for('main.index', so=so, sc='name')}}">   {{ _('Name') }}   </a></td>
        <td><A HREF="{{url_for('main.index', so=so, sc='rating')}}">   {{ _('Rating') }}   </a></td>
        <td>{{_('About')}}</td>
      </tr>

    {% for rest in alllunchresturant %}

          <tr>
            <td>              <a href="{{ url_for('main.lunchresturant_view', id=rest.id) }}"> {{rest.name}}</a>         </td>
            <td>  {{ rest.average_rating }}        </td>
            <td>
              <a href="{{ url_for('main.rating_add', restid=rest.id) }}"> {{_('Add Rating')}}</a>
           </td>

          </tr>
      {% endfor %}

      </table>
{% endif %}
<nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item{% if not prev_url %} disabled{% endif %}">
        <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">Previous</a>
      </li>
      <li class="page-item{% if not next_url %} disabled{% endif %}">
        <a class="page-link" href="{{ next_url or '#' }}">Next</a>
      </li>
    </ul>
</nav>

{% if lunchresturant %}


    <table class="table">
      <tr>
        <td>
          <table class="table">
            <tr>
              <td>{{_('Name')}}</td>      <td>  {{lunchresturant.name}}        </td>
            </tr>
            <tr>
              <td>{{_('Average Rating')}}</td> <td>  {{ lunchresturant.average_rating }} ({{lunchresturant.no_of_ratings()}})  </td>
            </tr>
            <tr>
              <td>{{_('Actions')}}</td>
              <td>
                <a href="{{ url_for('main.rating_add', restid=lunchresturant.id) }}"> {{_('Add rating')}}</a>          <br/>
                <a href="{{ url_for('main.lunchresturant_edit', id=lunchresturant.id) }}"> {{_('Edit resurant')}}</a>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <iframe width="200" height="150" style="border:0" loading="lazy" allowfullscreen
          src="https://www.google.com/maps/embed/v1/place/?q={{lunchresturant.name}}&key={{google_maps_api_key}}"></iframe>
        </td>
       </tr>

      </table>
      {% endif %}

      {% if ratings %}

          <h1>{{ _('Ratings') }}</h1>

          <table class="table table-hover">
            <tr>
              <td>{{_('User')}}</td>
              <td>{{_('Rating')}}</td>
              <td>{{_('Meal')}}</td>
              <td>{{_('Comment')}}</td>
              <td>{{_('Actions')}}</td>
            </tr>

          {% for rate in ratings %}

                <tr>
                  <td>  <a href="{{ url_for('main.user', username=rate.user.username) }}"> {{rate.user.username}}</a>   </td>
                  <td> <a href="{{ url_for('main.rating_view', id=rate.id) }}"> {{rate.rating}} </a>   </td>
                  <td>  {{rate.meal}}    </td>
                  <td>  {{rate.comment}}    </td>

                </tr>
            {% endfor %}

            </table>
      {% endif %}

{% endblock %}
