{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block metatags %}
<title>{{_('Sumpan Lunch')}}</title>
<meta name="description" content="Teamplan">
{% endblock %}


{% block contents %}
  {% if users %}
  <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
          <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
          <a class="page-link" href="{{ next_url or '#' }}">Next</a>
        </li>
      </ul>
  </nav>
  {% endif %}

  <table class="table table-hover">
    <tr>
        <td>  {{ _('User') }} </td>
        <td>  {{ _('About') }}  </td>
        <td>  {{ _('Services') }}  </td>
        <td>  {{ _('Email') }} </td>
        <td>  {{ _('Last seen') }} </td>
    </tr>


    {% for u in users %}
    {% set user_link %}
        <a href="{{ url_for('main.user', username=u.username) }}">
            {{ u.username }}
        </a>
    {% endset %}

      <tr>
          <td>  {{ user_link }}  </td>
          <td>  {{ u.about_me}} </td>
          <td>
            {% for service in services %}
              {% for su in service.users %}
                {% if su.username == u.username %}
                  {{ service.name }}
                {% endif %}
              {% endfor %}
            {% endfor %}
         </td>
         <td>  {{ u.email}} </td>
         <td>  {{ u.last_seen }} </td>
      </tr>
      {% endfor %}
  </table>

    {% if users %}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}">Next</a>
          </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}
